@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .fa-telegram{
   font-size: 30px;
    color: rgb(37, 138, 202);

}   

li{
    font-family: Mulish;
    color: #1F1534;
    width: 400;
    size: 18px;
    line-height: 22.59px;
} */
.container{
    width: 1200px;
    max-width: 0 auto;
    color: black;
}

.header{
    width: 100%;

}

.nov{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list{
    display: flex;
    gap: 30px;
}

.nav_list_item{
    list-style: none;
}

.nav_list_item_link{
    cursor: help;
}













































































